.cell {
    width: 10%;
    position: relative;
    flex: 0 0 auto;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}
.cell:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.sandwich-cell {
    width: 10%;
    position: relative;
    flex: 0 0 auto;
    text-align: center;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}
.sandwich-cell:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.selected {
    background-color: rgb(255, 255, 0);
}
.fixed {
    background-color: gainsboro;
}
.matching {
    background-color: rgb(255, 150, 0);
}
.cell.restricted {
    background-color: rgba(255, 190, 0, 0.5);
}
.error {
    background-color: red;
}

.cell-main-value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.cell-corner-value {
    position: absolute;
    font-size: 11px;
    left: 2%;
}

.sandwich-corner-value {
    font-size: 11px;
    float: right;
    margin-right: 2px;
}

.cell-center-value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
}

.region-left {
    border-left: 3px solid #000;
}
.region-top {
    border-top: 3px solid #000;
}

.board-left {
    border-left: 4px solid #000;
}
.board-right {
    border-right: 4px solid #000;
}
.board-top {
    border-top: 4px solid #000;
}
.board-bottom {
    border-bottom: 4px solid #000;
}
